:root {
  --toggle-switch-bg: #232428;
  --toggle-border: #232428;
  --toggle-bg: #fff;
}

.flex-box{
    display: flex;
    justify-content: center;
   
}
.flex-flex-box{
    display: flex;
    flex-flow: row;
}
#quiz {
  display: flex;
  justify-items: center;
  padding: 3%;
  margin: 0.5%;
  width: fit-content;
  flex-direction: column;
  border: 5px solid #04AA6D;

  
}
#options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#quiz button{
    font-size: large;
    padding: 3vh 7.5vh;
    background-color: rgb(104, 237, 122);
}

#quiz button #hideAnswer{
  font-size: large;
  padding: 3vh 7.5vh;
  background-color: rgb(104, 0 , 0);
}

body {
  background-color: #333;
  color: #fff;
}

.hidden
{
    background-color: blue;
}


.tries{
    position: static;
    top:5%;
}